In [6]:
import pandas as pd
import os

In [7]:
os.environ['HF_ENDPOINT'] = 'https://hf-mirror.com'

In [4]:
base_dir = '/data/kcl/lpy/data'
data = pd.read_parquet(f'{base_dir}/gsm8k/train.parquet')

,data_source,prompt,ability,reward_model,extra_info
0,openai/gsm8k,[{'content': 'Natalia sold clips to 48 of her ...,math,"{'ground_truth': '72', 'style': 'rule'}",{'answer': 'Natalia sold 48/2 = <<48/2=24>>24 ...
1,openai/gsm8k,[{'content': 'Weng earns $12 an hour for babys...,math,"{'ground_truth': '10', 'style': 'rule'}",{'answer': 'Weng earns 12/60 = $<<12/60=0.2>>0...
2,openai/gsm8k,[{'content': 'Betty is saving money for a new ...,math,"{'ground_truth': '5', 'style': 'rule'}","{'answer': 'In the beginning, Betty has only 1..."
3,openai/gsm8k,[{'content': 'Julie is reading a 120-page book...,math,"{'ground_truth': '42', 'style': 'rule'}",{'answer': 'Maila read 12 x 2 = <<12*2=24>>24 ...
4,openai/gsm8k,[{'content': 'James writes a 3-page letter to ...,math,"{'ground_truth': '624', 'style': 'rule'}",{'answer': 'He writes each friend 3*2=<<3*2=6>...
...,...,...,...,...,...
7468,openai/gsm8k,"[{'content': 'Very early this morning, Elise l...",math,"{'ground_truth': '5', 'style': 'rule'}","{'answer': 'For the distance she traveled, Eli..."
7469,openai/gsm8k,[{'content': 'Josh is saving up for a box of c...,math,"{'ground_truth': '3', 'style': 'rule'}",{'answer': 'He makes $.5 profit on each bracel...
7470,openai/gsm8k,[{'content': 'Colin can skip at six times the ...,math,"{'ground_truth': '4', 'style': 'rule'}",{'answer': 'Tony can skip at twice the speed t...
7471,openai/gsm8k,"[{'content': 'Janet, a third grade teacher, is...",math,"{'ground_truth': '308', 'style': 'rule'}",{'answer': 'Janet needs 35 lunches for the kid...
7472,openai/gsm8k,"[{'content': 'At 30, Anika is 4/3 the age of M...",math,"{'ground_truth': '50', 'style': 'rule'}","{'answer': 'If Anika is 30 now, in 15 years, s..."